<html>
   <body>
      <h1>Add User</h1>
      <form action = "http://127.0.0.1:8081/addUser" method = "POST">
         Username: <input type = "text" name = "name">  <br>
         password: <input type = "text" name = "password"> <br>
         Profession: <input type = "text" name = "profession"> <br>
         <input type = "submit" value = "Submit">
      </form>

      <h1>Delete User</h1>
      <form action = "http://127.0.0.1:8081/deleteUser" method = "POST">
         id: <input type = "text" name = "id">  <br>
         <input type = "submit" value = "Submit">
      </form>
      
   </body>
</html>